.container{
    display: flex;
    gap: 20px;
   
 }
 .dashboard--content{
   
     background: #fff;
     flex: 1;
     border-radius: 20px;
     padding: 2rem;
     display: flex;
     gap: 1.5rem;
     justify-content: space-between;
     
 }
a {
color: inherit;
list-style-type: none;
text-decoration: none;
background:#d2d6dc ;
height: 30px;
border-radius: 10px;
font-size: 20px;
font-weight: 30px;
display: flex;
align-items: center;
justify-items: center;
padding: 17px;
color:#7a99b6 ;

}